.sidenav-container {
  /*OEB*/
  /*height: 100%;*/
  height: calc(100% - 60px);

  #app-sidenav {
    /*OEB*/
    /*width: 220px;
    min-width: 65px;*/
  
    width: 60px;
  }
}
#app-toolbar {
  [mat-raised-button], [mat-icon-button] {
    background-color: white !important;
    outline: none;
  }
  .user-name {
    font-size: 15px;
  }
  #documentation_link {
    color: black !important;
  }
}

.mat-drawer{
  background-color: #333333;
}

#logo-structure{
  height: 60px;
  margin: -16px;
} 